@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-top{
    padding-top: 21px;
    min-height: 42px;
    &,
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contact-link{  
        font-size: 18px;
        color:#fff;
        letter-spacing: 0.045em;
        transition: all .5s;
        &:hover{
            color:$accent;
            span{
                color:#fff; 
            }
        }
        span{
            transition: inherit;
            color:$accent;
        }
    }
}

.menu{
    margin-right: 83px;
    &__list{
        display: flex;
    }
    &__list-item{
        &+&{
            margin-left: 35px;
        }
    }
    &__list-link{
        color:#fff;
    }
}

.header-content{
    min-height:calc(100vh - 63px) ;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 6%;
    &__info{
        padding-top: 26px;
        min-width: 495px;
    }
    &__title{
        @extend %title;
        line-height: 100%;
        margin-bottom: 32px;
    }
    &__text{
        margin-bottom: 48px;
        max-width: 357px;
    }
    &__box{
        display: flex;

    }
    &__btn{
        @extend %btn;
        margin-right: 35px;
    }
    &__video{
        padding: 15px 30px;
        font-size: 18px;
        color: #fff;
        line-height: 1;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            left: 0;
            top: 13px;
            background-image: url('../images/icons/play.svg');
            background-repeat: no-repeat;
        }
    }
    &__img{
        width: 726px;
        height: 419px; 
    }
}

.about-wrapper{
        padding-top: 170px;
        margin-top: -170px;
        background-image: url('../images/bg/about-bg2.png');
        background-repeat: no-repeat;
        background-position: left -300px;  
 
    &__bottom{
        padding-bottom: 300px;
        margin-bottom: -300px; 
        background-image: url('../images/bg/about-bg3.png');
        background-repeat: no-repeat;
        background-position: left bottom;  
    }
}



.about{
    padding-top: 145px;
    margin-top: -145px;
    margin-bottom: 185px;
    background-image: url('../images/bg/about-bg.png');
    background-repeat: no-repeat;
    background-position: right 50px;
    
    &__inner{
        display: flex;
    }

    &__info{
        max-width: 590px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(2,270px);;
        margin-top: 75px;
        
    }

    &__item{
        &:nth-child(2),
        &:nth-child(4){
           padding-top: 120px;
        }
    }

    &__item-num{
        font-size: 25px;
        width: 50px;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $accent;
            border-radius: 1px;
            left: 0;
            bottom: 0;
        }
    }

    &__item-title{
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 20px;
        @extend %rubik-500;
    }

    &__item-text{
        max-width: 260px;
    }

    &__box{
        max-width: 590px;
    }

    &__title{
        @extend %title;
        margin-bottom: 185px;
        max-width: 333px;
    }

    &__img{
        min-width: 590px;
        object-fit: contain;
    }
}

.develop-wrapper{
    padding-bottom: 200px;
    margin-bottom: -200px; 
    background-image: url('../images/bg/develop-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;   
}

.develop{
    margin: 0 auto 145px;
    padding: 0 15px;
    max-width: 1030px;
    display: flex;
    &__img{
        margin-right: 90px;
        max-width: 415px;
        object-fit: contain;
    }

    &__title{
        @extend %title;
        max-width: 490px;
        margin-bottom: 45px;
    }

    &__text{
        max-width: 285px;
        margin-bottom: 50px;
    }

    &__btn{
        @extend %btn;
    }
}

.selection-wrapper{
    padding-top: 345px;
    margin-top: -345px;
    background-image: url('../images/bg/selection-bg.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.selection{
    padding: 0 15px;
    margin: 0 auto 145px;
    max-width: 1030px;
    display: flex;
    &__content{
        max-width: 480px;
        margin-right: 35px;
    }
    &__title{
        @extend %title;
        margin-bottom: 40px;
    }
    &__text{
        max-width: 285px;
        margin-bottom: 50px;
    }
    &__btn{
        @extend %btn;
    }
}

.work-wrapper{
    background-image: url('../images/bg/work-bg2.png');
    background-repeat: no-repeat;
    background-position: right 50px;
    padding-bottom: 145px;   
}

.work{
    padding-top: 50px;
    margin-top: -50px;
    background-image: url('../images/bg/work-bg.png');
    background-repeat: no-repeat;
    background-position: left -270px;
    padding-bottom: 145px;
    &__inner{
        display: flex;
    }
    &__content{
        margin-right: 90px;
    }
    &__title{
        @extend %title;
        margin-bottom: 80px;
    }
    &__item{
        display: flex;
        margin-bottom: 50px;
        margin-left: 34px;
        &:nth-child(5){
            margin-bottom: 70px;
        }
    }
    &__item-num{
        color:$accent;
        @extend %rubik-700;
        font-size: 40px;
        margin-right: 15px;
        line-height: 1;
    }
    &__item-text{
        padding-top: 5px;
        max-width: 380px;
        font-size: 18px;
        line-height: 22px;
    }
    &__btn{
        @extend %btn;
        margin-left: 100px;
    }
}

.application-wrapper{
    padding-bottom: 700px;
    margin-bottom: -700px; 
    background-image: url('../images/bg/application-bg.png');
    background-repeat: no-repeat;
    background-position: right center;   
}

.application{
    
    background-color: #fff;
    padding: 50px 0 70px;
    &__inner{
        display: flex;
    }
    &__img{
        margin-left: 55px;
        margin-right: 135px;
    }
}

.form{
    color: #12272F;
    max-width: 390px;
    &__title{
        @extend %title;
        margin-bottom: 30px;
    }
    &__label-descr{
        font-size: 14px;
        margin-left: 25px;
        background-color: #fff;
        padding: 0 5px;
        position: relative;
        top: 8px;
        z-index: 1;
        display: inline-block;
    }
    &__label-input,
    &__label-textarea{
        background-color: transparent;
        padding: 0 15px;
        width: 100%;
        border-radius: 6px;      
        border: 2px solid #12272F;
        opacity: 0.8;
    }
    &__label-input{
        height: 43px;
        margin-bottom: 12px;
    }
    &__label-textarea{
        padding: 15px;
        height: 180px;
        resize: none;
        margin-bottom: 25px;
    }
    &__btn{
        @extend %btn;  
        &:hover{
            color: #12272F;  
        }
    }
}

.comments-wrapper{
    padding-bottom: 200px;
    margin-bottom: -200px; 
    background-image: url('../images/bg/comments-bg.png');
    background-repeat: no-repeat;
    background-position: left -220px;      
}

.comments{
    padding-top: 80px;
    margin-bottom: 145px;
    &__inner{
        display: flex;
    }
    &__img{
        margin-left: 65px;
        margin-right: 90px;
        height: 486px;
        padding-top: 80px;
    }
    &__title{
        @extend %title;
        margin-bottom: 75px;
    }
    &__info{
        max-width: 590px;
        min-height: 455px;
    }
    &__info-top{
        margin-bottom: 25px;
    }
    &__info-bottom{
        margin-left: auto;
        max-width: 387px;
    }
    &__item{
        max-width: 385px;
        min-height: 215px;
        padding: 0 18px 12px 12px;
        background: #fff;
        color: #12272F;
        border-radius: 8px;
    }
    &__item-img{
        font-size: 130px;
        color:$accent;
        line-height: 100%;
        max-height: 40px;
        margin-bottom: 15px;
        @extend %roboto-400;
    }
    &__item-text{
        min-height: 110px;
        margin-bottom: 15px;
    }
    &__item-box{
        display: flex;
        justify-content: space-between;
    }
    &__item-author{
        @extend %rubik-500;
        color: #12272F;
        opacity: 0.8;
    }

    .slick-arrow,
    .slick-next{
        background-color: transparent;
        width: 24px;
        height: 26px;
        font-size: 0;
        border:none;
        background-image: url('../images/icons/arrow-left.svg');
        position: absolute;
        bottom: 0;
    }

    .slick-arrow{
        left: -200px;
    }

    .slick-next{
        background-image: url('../images/icons/arrow-right.svg');
        left: -150px;
    }
}

.contacts{
    margin-bottom: 140px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 360px
    }
    &__title{
        @extend %title;
        margin-bottom: 80px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 160px;
    }
    &__item-title{
        font-size: 16px;
        line-height: 19px;
        opacity: 0.8;
        margin-bottom: 10px;
    }
    &__item-phone,
    &__item-link{
        display: block;
        color:#fff;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 24px;
    }

    &__item-phone{
        margin-bottom: 15px;
        &:nth-child(4){
            margin-bottom: 26px;
        }
    }
    &__map{
        position: relative;
        max-width: 700px;
    }
    &__map-link{
        position: absolute;
    }
    &__map-link--active{
        display: block;
        width: 32px;
        height: 45px;
        background-image: url('../images/icons/point--active.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        overflow: hidden;
        img{     
            opacity: 0;            
        }
    }
    #link1{
        top: 200px;
        left: 80px;
    }
    #link2{
        top: 140px;
        left: 90px;
    }
    #link3{
        top: 280px;
        left:180px;
    }
    #link4{
        top: 150px;
        right:140px;
    }
    #link5{
        top: 280px;
        left:280px;
    }
    #link6{
        top: 290px;
        left:230px;
    }
    #link7{
        top: 285px;
        left:145px;
    }
    #link8{
        top: 290px;
        right:200px;
    }
    &__map-item{
        display: none;
        background-color: $accent;
        border-radius: 5px;
        padding: 18px; 
        &::after{
            position: absolute;
            content: '';
            width: 1px;
            height: 88%;
            left: 120px;
            top: 6px;
            background-color: #fff;
        } 
    }
    &__map-item--active{
        display: flex;
        position: absolute;
        top: 0;
        left: -60px;
    }
    &__map-number{
        font-size: 30px;
        line-height: 36px;
        @extend %rubik-700;
        padding-right: 18px;
        margin-right: 26px;
        position: relative;
        
    }
    &__map-phone{
        display: block;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 5px;
    }
    &__map-address{
        display: block;
        max-width: 155px;
        font-size: 16px;
        opacity: 0.8;
        line-height: 120%;
        color: #fff;
    }
    &__img-human{
        margin-top: -200px;
    }
    &__img-forest{
        position: absolute;
        bottom: 0;
        left: 300px;
    }
}

.footer{
    background-color: #263238;
    padding: 40px 0;
    &__inner{
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
    }
    &__item{
        margin-right: 85px;
        width: 225px;
    }
    &__item-logo{
        margin-bottom: 25px;
    }
    &__item-text{
        max-width: 200px;
        margin-bottom: 30px;
    }
    &__item-btn{
        @extend %btn;
    }
    &__menu{
        max-width: 180px;
        margin-right: 125px;
    }
    &__menu-title{
        margin-bottom: 25px;
    }
    &__menu-item{
        margin-bottom: 15px;
    }
    &__menu-link{
        color: #fff;
        opacity: 0.8;
    }
    &__contacts-title{
        margin-bottom: 25px;
    }
    &__contacts-items{
        display: flex;
    }
    &__contacts-item+&__contacts-item{
        margin-left: 50px;
    }
    &__contacts-subtitle{
        opacity: 0.8;
        line-height: 19px;
        margin-bottom: 10px;
    }
    &__contacts-link{
        margin-bottom: 15px;
        color:#fff;
        font-size: 18px;
        display: block;
    }
}

